
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  

body{  font-family: "Poppins", serif;}


/* navbar design  */


.navbar{
    display: flex;
    justify-content: space-around;
}

.nav-title{
    font-weight: 700;

font-size: 1.5rem;
color: rgba(58, 58, 58, 1);
}


.navbar ul{
    display: flex;
justify-content: center;
}

.navbar li{ list-style: none;margin-right: 20px;
    font-size: 1rem; font-weight: 600;
    color: rgba(58, 58, 58, 1);
  
}


nav a{text-decoration: none;

color: rgba(58, 58, 58, 1);}



/* banner section design  */
 .banner{
    display: flex;
    justify-content: center;
 }


 .banner-box{
    width: 42%;
 }
.banner-title{
    font-weight: 700;
    font-size: 3.25rem;
    color: rgba(58, 58, 58, 1);
 

}

.banner-description{
    font-weight: 600;
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 35px;
    margin-top: -20px;


}


.banner-btn{
    font-weight: 700;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 41px;
}

.fa-solid{ margin-left: 10px;}

.image {
    width: 30%;
    background-color: rgb(252, 249, 249);
    border-radius: 50%;
    border: 1px solid rgb(233, 230, 230);
}

.image img{ width: 100%;}

/* main section design  */
 .main-top{
    border-top: .5px solid rgb(218, 213, 213);
    border-bottom: .5px solid  rgb(218, 213, 213) ;
    text-align: center; 
    max-width: 70%;
    margin: 60px auto;
     
 }

.main-top img{ margin: 20px 20px;


}









.main-body{
    width: 70%;
    margin: 0 auto;
}

.main-body h2{ 
    font-size: 1.75rem;
font-weight: 600;
color: rgba(58, 58, 58, 1);
text-align: center;

}

/* product section design  */



.product-1{ border: 1px solid rgba(222, 231, 222, 0.729);
border-radius: 5px;

    }

    .product-details{
        max-width:80% ;
            margin: 0 auto;}


.product-image{
    max-width: 100%;
    display: grid;
    place-items: center;
}
.product-image img{
    width: 80%;
}

   

.product-name{
    font-size: 1.75rem;
    font-weight: 500;
    color:rgba(24, 25, 31, 1);
}
.product-price{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.product-description{
    font-size: .85rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
}

.products{
     display: grid;
    grid-template-columns: repeat(3,1fr); 
gap: 20px;

}


.anchor-text{
    display: flex;
  justify-content: end;
  
  
}

.anchor-text a{
    
color: rgb(248, 41, 172);
}



/* bottom section design  

*/



.main-bottom{ display: flex;
    
    
    width: 80%;
    margin: 30px auto;
}


.bottom-image{
    max-width: 35%;
    margin: 0 auto;
}

.bottom-image img{
    width: 100%;
}

.bottom-details{ margin-left: 10px;
    max-width: 50%;
}

.main-bottom h4{
    color: rgba(10, 8, 38, 1);
    font-weight: 700;
    font-size: 2.25rem;
}

.main-bottom P{
    color: rgba(108, 108, 108, 1);
    font-weight: 700;
    font-size: 1rem;
}
 

.main-bottom button{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    padding: 8px 18px;
    border: none;
}



.footer{ background-color:rgba(10, 8, 38, 1);


display: grid;
place-items: center;

}
.footer-title{font-weight: 700;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 1);
    

}

.footer-description{
margin-top: -15px;
    font-weight: 700;
    font-size: .85rem;
    color: rgba(217, 219, 225, 1);
}


 /* small device media query */ 
@media screen and (max-width:576px){   

/* header section design */

.navbar {
  
    flex-direction: column;
    text-align: center;
}
    
.navbar ul {
 
    flex-direction: column;
}


.banner{
    flex-direction: column-reverse;
}

.banner-box{ width: calc(100% - 20px);

text-align: center;

}

.banner-title{
    font-size: 28px;
}

.banner-description{
    font-size: 14px;
}
.image { width: auto;
    margin-top: 30px;
}

.navbar ul{
    padding-left: 0;
}

  /* main section design */
  .main-top{

    border: none;
    max-width: 100%;
    margin: 60px auto;
     
 }

.main-top img{ margin: 10px 9px;
}




/* product section design  */
 .main-body {
    width: 95%;
    margin: 0 auto; 
}
 .main-body h2 {
     font-size: 1rem;
     font-weight: 600;
     color: rgba(58, 58, 58, 1);
     text-align: center;
     margin-right: 5px;
     margin-left: 5px;
 }


 .products{
    grid-template-columns: 1fr;
 }

/* bottom section design  */
.bottom-details {
   
    max-width: 100%; 
}

.bottom-image img {
    width: 100%;
}

.bottom-image {
    max-width: 100%; 
    margin: 0 auto;
}
.main-bottom {
  
     width: 100%; 

    flex-direction: column-reverse; 
}


}
 /* medium device media query */

@media screen and (min-width:576.01px ) and (max-width:992px){
/* header section design */

    .image{ display: grid;
      width: 50%;
      place-items: center;
      border-radius: 50%;
      margin-left: 20px;
   
    }
    .navbar {
  
        flex-direction: column;
        text-align: center;
    }
    
.nav ul{ justify-content: center;}

/* main section design */
.main-top{

    border: none;
    max-width: 70%;
    margin: 60px auto;
     
 }

.main-top img{ margin: 10px 10px;


}

.main-body {
    width: 80%;
    margin: 0 auto; 
}
.main-body h2 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}



/* product section design */
.products{
   grid-template-columns: repeat(2,1fr) ;
}


.main-bottom {
    
    width: 100%;
    
}
.bottom-image {
     max-width: 100%; 

margin-top: 50px;
 
}
}